@let user = user$|async;

@if (user) {
  <button (click)="handleLogout()">logout</button>
  <button (click)="handleSaveUserData()">save user data</button>
} @else {
  <button (click)="handleAuthWithGoogle()">auth with Google</button>
}
<button (click)="handleAdd()">add todo</button>

@if (user) {
  <h1>Hello {{user.uid}}</h1>
}
<ul>
  @for (todo of todosList$|async; track todo.id) {
    <li> 
      {{ todo.title }} - {{todo.done ? '√' : 'x'}} 
      <button (click)="handleDone(todo.id)">done</button>
    </li>
  }
</ul>
<hr />
<ul>
  @for (todo of todosList$|async; track todo.id) {
    <li> 
      {{ todo.title }} - {{todo.done ? '√' : 'x'}} 
      <button (click)="handleDone(todo.id)">done</button>
    </li>
  }
</ul>